<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
/*display qty */
$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
$specialLabel = $_product->getData('is_metre_product');
$specialLabel2 = $_product->getData('is_roll_product');
$specialLabel3 = $_product->getData('is_length_product');
$specialLabel4 = $_product->getData('is_underlay_product');
/*enable values yes/no*/
 $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
 $attrTestValue121 = $_product->getData('enable121');

/*replace qty text*/
 $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
 $qty_text = $_product->getData('display_qty_text');

 /*text below price*/
 $_getMyAttr1 = $_product->getResource()->getAttribute('test_to_display');
 $attrTestValue1 = $_getMyAttr1->getFrontend()->getValue($_product);
     
   if($attrTestValue121 == 1)
   {
      echo $attrTestValue1;
    }
                    ?>   
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
          <?php  $productType = $_product->getTypeId();
          
                if($productType == "simple" && $qty_text == 1 ){ ?>
                <div class="grey">
              
            <p class="label"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></p>
           <div id="quant" class="field qty enter-text11">

            <div class="control" data-bind="scope: 'qty_change'">
                <button class="qtychange" data-bind="click: decreaseQty">-</button>
                <input data-bind="value: qty()"
                        type="number"
                       name="qty"
                       id="qty"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="one input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       /><button class="qtychange" data-bind="click: increaseQty">+</button>
            </div>
        </div>
           
            </div>
          <?php }elseif ($productType == "configurable"){ ?>
              
          
          <div class="grey">
                  
            <p class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></p>
           <div id="quant" class="field qty enter-text11">

            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 0 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="one input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
           
            </div>
          
          
          
          
          
          
          
          <?php }elseif($specialLabel == 1 || $specialLabel2 == 1 || $specialLabel3 == 1 || $specialLabel4 == 1){?>
            <div id="quant" class="field qty enter-text11">

            <div class="control">
                <input type="hidden"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 0 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="two input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div> 
          <?php }else?>
      <!--   <div class="control">
                <input type="hidden"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 0 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="three input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div> -->
        <?php endif; ?>
        <div class="actions enter-text-action11">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
  
</div>

<div class="button-wrap"><a class="cga" href="#contact-section">Email Enquiry</a>

</div>
  
<?php endif; ?>

   <script type="text/x-magento-init">
{
"*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "qty_change": {
                        "component": "LB_LayoutHelper/js/view/product/view/qty_change",
                        "defaultQty": <?php echo $block->getProductDefaultQty() * 1 ?>
                    }
                }
            }
    }
}
</script>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
