<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= /* @escapeNotVerified */ __('Toggle Nav') ?></span></span>
   
    <a class="logo hti" href="<?= $block->getUrl('') ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
        <img src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
    </a>
   
<!-- <?php if ($block->isHomePage()):?> -->
<!-- <?php else: ?> -->
<!-- <?php endif ?> -->
<!-- <?php if ($block->isHomePage()):?> -->
<!-- <?php else:?> -->
<!-- <?php endif?> -->
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$urlInterface=$objectManager->create('Magento\Framework\UrlInterface');

$m = $urlInterface->getCurrentUrl();
if($m == 'https://rightfloors.com.au/checkout/'){
	?>
	<script>
require(['jquery'], function ($) {
		$('.nav-toggle').on('click',function(){
		
		$('html').toggleClass('mobile181');
	
	});
});
	</script>
<?php } ?>
<script>



require(['jquery'], function ($) {
	$(document).ready(function () {
		$('.header.links').click(function(){
			if($('.header.links > li').css('display') == 'none'){
				$('.header.links > li').css("display","block");
			}else if($('.header.links > li').css('display') == 'block'){
				$('.header.links > li').css("display","none");
			}
        });

	});
	
	
	
		
	$(window).load(function(){
		$('.checkout-cart-index .crosssell').appendTo('.cart-container');
	});

	if($(document).hasClass('view-product991')){
		$('body').addClass('test');
	}


	$('#product_addtocart_form').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
});
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5bf765cd40105007f3793b89/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<style>
    .cms-home .ctct-inline-form, .cms-catalogue .ctct-inline-form{
    width: 65%;
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
    }
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
    
     .docs-container h3{font-size: 23px;}
    .docs-container p{font-size: 17px;}
    .special-note{    font-size: 19px !important;
    width: 60% !important;
    margin: 0 auto !important;
    margin-top: 5px !important;}
    .importantArea{
        display: flex; align-items: center; justify-content: center;
    }
    .importantArea .importantText{
            font-size: 20px;
    margin: 0 15px;
    font-weight: 800;
    }
    .christmas-offer-container {
        width: 800px;
        height: auto;
        margin: 0 auto;
        position: relative;
    }

    .christmas-offer {
        width: 100%;
        box-shadow: 10px 20px 40px #00000029;
        background: #333333 0% 0% no-repeat padding-box;
        border-radius: 30px;
        border: 23px solid #95DC6C;
        text-align: center;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        position: relative;
    }

    .christmas-offer .modal-header {
        border-bottom: none;
    }

    .christmas-offer #modal-title-1 {
        font-family: 'Open Sans', sans-serif !important;
    }

    .modern-timer {
        margin-top: 50px;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: center;
    }

    .flex-column {
        flex-direction: column;
        padding: 0 10px;
    }

    .separateDigit {

        justify-content: space-evenly;
        background-color: #fff;
        color: #010101;
    }

    .separateDigit div {
        background-color: #fff;
        border: 1px solid #707070;
        font-size: 70px;
        padding: 5px 5px;
    }

    .timerTitle {
        font-size: 23px;
        margin-bottom: 4px;
    }

    .christmas-offer-container .santa {
        position: relative;
        bottom: -82px;
        right: -50px;
        text-align: right;
    }

    .christmas-offer-container .bell {
        position: relative;
        top: -33%;
        left: -15%;
    }
    .countdowntimer{
        background-image:  url(<?php echo $block->getBaseUrl(); ?>pub/media/bgimg.jpg);
    background-size: cover;
    }
    #timermodal .h-section{
        display:none;
    }
   .christmas-offer-container .modal-inner-wrap{
       width: 100%;
    box-shadow: 10px 20px 40px #00000029;
    background: #333333 0% 0% no-repeat padding-box !important;
    border-radius: 30px;
    border: 23px solid #95DC6C;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: relative;
   }

.homesection .modern-timer {
    height: 230px;
    margin-top: 0;
    border-bottom: 15px solid #000;
}
.christmas-offer-container .moderntimer2{
     height: 200px;
    margin-top: 0;
    display:flex;
    border-bottom: none;
}
.homesection #countdowntimer,.christmas-offer-container #countdowntimer{
height:200px;
}
.homesection .flex-column, .christmas-offer-container .flex-column {
flex-direction: column;
padding: 0 10px;
position: relative;
max-width: 122px;
overflow: hidden;
min-width: 65px;
margin-right: 30px;
}
.homesection .separateDigit, .christmas-offer-container .separateDigit {
justify-content: space-evenly;
background-color: #fff;
color: #010101;
position: absolute;
top: 50px;
right: 0;
}
.homesection .modal-title, .christmas-offer-container .modal-title{
	color: #fff;
    text-align: center;
    border: none;
}

.homesection .timerTitle{
   color: #fff;
}
.modals-wrapper{
    position:absolute;
    top:0;
    z-index: 1001;
    width: 100%;
}
.christmas-offer-container #modal-content-0{
    padding : 0 !important;
}
.christmas-offer-container #modal-title-1{
    text-align:center;
    
}
.christmas-offer-container .modal-header{
    border:none !important;
}
.christmas-offer-container .modal-footer{
    display:none !important;
}

.christmas-offer-container .modal-inner-wrap{
    overflow: initial;
    margin-top: 20%;
}
.christmas-offer-container .modal-inner-wrap:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 187px;
    height: 187px;
    background-image: url(<?php echo $block->getBaseUrl(); ?>pub/media/santa.png);
    background-repeat: no-repeat;
    margin-top: -185px;
    z-index: 41;
    background-size: contain;
    
}
.christmas-offer-container .modal-inner-wrap:after{
        content: "";
    position: absolute;
    left: -96px;
    width: 211px;
    height: 211px;
    background-image: url(<?php echo $block->getBaseUrl(); ?>pub/media/bell.png);
    background-repeat: no-repeat;
    margin-top: -211px;
    z-index: 81;
    bottom: -93px;
    
}
aside.christmas-offer-container{
        overflow: initial;
}
.christmas-offer-container h1#modal-title-1{
    font-size: 65px;
    font-family: 'Open Sans';
    font-weight: 400;
}
.christmas-offer-container #timermodal1 p {
    font-size:18px;
}
.christmas-offer-container .modal-header{
    position: absolute;
    right: 0;
}
.christmas-offer-container .modal-header1{
    margin-top: 15px;
}
@media only screen and (max-width: 1900px) {
     .christmas-offer-container .modal-inner-wrap:before {
           width: 130px;
           height: 130px;
           margin-top: -137px;
     }
     .christmas-offer-container .modal-inner-wrap{
         margin-top: 15%;
     }
     .christmas-offer-container h1#modal-title-1{
         font-size:55px;
     }
     .christmas-offer-container .modal-inner-wrap:after {
    left: -96px;
    width: 150px;
    height: 150px;
    z-index: 81;
    bottom: -67px;
    background-size: contain;
}
.christmas-offer-container #timermodal1 p {
    font-size: 15px;
    margin-bottom: 10px;
}
   
}
@media only screen and (max-width: 991px) {
    .christmas-offer-container{
        left:auto;
    }
}

@media only screen and (max-width: 768px) {
     .docs-container h3{font-size: 20px;}
     .doc-cotainer p{
         font-size:15px !important;
     }
     .special-note{    font-size: 17px !important;
    width: 100% !important;}
     .christmas-offer-container {
        width: 100%;
        left: 0 !important;
        top: 135px;
         
     }
    .christmas-offer-container #countdowntimer {
    height: 135px;
}
.homesection .modern-timer {
    height: 150px;
}
    .separateDigit div{
        font-size:45px;
    }
    .christmas-offer-container .modal-inner-wrap{
    overflow: initial !important;
  
}
.homesection .flex-column,.christmas-offer-container .flex-column  {
max-width: 40px;
min-width: 40px;
margin-right:15px;
}
.timerTitle {
font-size: 18px;
margin-bottom: 4px;
}
.christmas-offer-container .christmas-offer-container{
    width:100%;
    left:0;
    margin-top: 67px;
    overflow: initial !important;
}
.christmas-offer-container h1#modal-title-1 {
    font-size: 30px !important;
    
}
.christmas-offer-container #timermodal1 p {
    font-size: 16px;
    margin-bottom: 20px;
}
.christmas-offer-container .modal-inner-wrap:before {
       width: 80px;
    height: 80px;
    margin-top: -91px;
    background-size: contain;
}
.christmas-offer-container .modal-inner-wrap:after {
   
        left: -24px;
    width: 100px;
    height: 100px;
    bottom: -69px;
    background-size: contain;
}
.christmas-offer-container #modal-content-1{
        padding:0px;
}

.christmas-offer-container .moderntimer2 {
    display: flex;
}
.cms-home .ctct-inline-form, .cms-catalogue .ctct-inline-form{
    width: 100%;
}
}
@media only screen and (max-width: 480px){
.christmas-offer-container{
    top: 70px;
}
}
</style>

<div id="timermodal" style="display:none;">
    <div class="">
        <header class="modal-header1">
            <h1 id="modal-title-1" class="modal-title" data-role="title">
                Cut-off Countdown!
            </h1>
            <button class="action-close" data-role="closeBtn" type="button">
                <span>Close</span>
            </button>
        </header>
        <div id="modal-content-1" class="modal-content" data-role="content">
            <div id="timermodal1" style="">
                <div class="modal-dialog">
                    <p>Get in now to get your products delivered in time for the Christmas and New Years Break. </p>
                    <p>The Christmas break is the perfect time to complete those DIY projects you’ve been putting off
                        all year, start fresh in 2021 with a range of DIY flooring products.</p>

                    <div id="countdowntimer">
                        <div class="modern-timer d-flex justify-content-center moderntimer2">
                            <div class="d-flex flex-column">
                                <div class="timerTitle">
                                    Days
                                </div>
                                <div class="d-flex separateDigit">
                                    <div id="popuptimerd"></div>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="timerTitle">
                                    Hours
                                </div>
                                <div class="d-flex separateDigit">
                                    <div id="popuptimerh"></div>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="timerTitle">
                                    Min
                                </div>
                                <div class="d-flex separateDigit">
                                    <div id="popuptimerm"></div>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="timerTitle">
                                    Sec
                                </div>
                                <div class="d-flex separateDigit">
                                    <div id="popuptimers"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

